# Optional overrides. All are read at build time by Vite.
VITE_ARC_RPC_URL=https://rpc.testnet.arc.io
VITE_ARC_EXPLORER=https://testnet.arcscan.app
VITE_GITHUB_URL=https://github.com/RussianCoker/department-of-rug-efficiency
